@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0; 
    padding: 0; 
}
html{
    scroll-behavior: smooth; 
    font-family: 'Roboto Mono', monospace;
}
section{
    height: 100vh; 
    width: 100%; 
}
#aboutSection{
    background-color: rgb(164, 160, 153); 
}
#portfolioSection{
    background-color: rgb(208, 185, 144); 
}
#contactSection{
    background-color: rgb(196, 153, 79); 
}
#splashSection{
    background-image: linear-gradient(45deg, black, rgb(128, 152, 123)); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: rgb(196, 193, 193); 
    text-shadow: 0px 5px 10px black; 
}
.splashContainer{
    text-align: center; 
}
.mainH1{
    font-size: 40px; 
    position: relative;
}
.mainP{
    font-size: 20px; 
}
.oneSecondAnimation{
    animation: 1s ease-out alternate 0s advanced;
}
.twoSecondAnimation{
    animation: 2s ease-out alternate 0s advanced;
}
@keyframes advanced {
    0%, 25% {
      transform: translateX(-200%);
      left: -200%;
    }
    75%,
    100% {
      transform: translateX(0%);
      left: 0%;
    }
  }
h2{
    text-align: center; 
    text-decoration: underline; 
    padding-top: 50px; 
}
header {
    background-image: linear-gradient(135deg, black, black, rgb(55, 53, 53)); 
    padding: 5px; 
}
header nav{
    display: flex; 
    width: 100%; 
    justify-content: space-between;   
}
header nav ul li a{
    text-decoration: none;
    color: rgb(97, 131, 86); 
    transition: 500ms ease-in;  
}
header nav ul li a:hover{
    color: red;
}
header nav ul li{
    margin-left: 30px; 
    list-style: none; 
    transition: 500ms ease-in;  
}
header nav ul li:nth-child(3){
    margin-right: 20px; 
}
header nav ul li:hover{
    transform: scale(1.1); 
}
header ul{
    display: flex; 
    align-items: center; 
}
.headerLogo{
    height: 80px; 
    width: auto; 
    filter: invert(); 
    transition: 500ms ease-in; 
}
.headerLogo:hover{
    transform: scale(1.1); 
}
